body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0 }
body, button, input, select, textarea { font: 13px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;color: #333; -ms-overflow-style: scrollbar }
button, input, select, textarea { font-size: 100% }
a { color: #324057; text-decoration: none;outline: 0; transition: color .1s }
a:hover { color: #20a0ff }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img, area, a { border: 0; outline: 0 }
address, caption, cite, code, dfn, em, th, var, i { font-style: normal; font-weight: normal }
code, kbd, pre, samp { font-family: courier new, courier, monospace }
ol, ul { list-style: none }
body { background: #fff;-webkit-text-size-adjust: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
small { font-size: 12px }
h1, h2, h3, h4, h5, h6 { font-size: 100% }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
legend { color: #000 }

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 10px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

html, body {
  width: 100%;
  height: 100%;
}

/****************flexbox**************/
.flex {display:flex;}
.inline-flex {display:inline-flex;}
.flex-center{justify-content: center;align-items: center;}
/*横向或纵向*/
.flex-row {flex-direction:row;}
.flex-col {flex-direction:column;}
.flex-row-reverse {flex-direction:row-reverse;}
.flex-col-reverse {flex-direction:column-reverse;}
.flex-wrap {flex-wrap:wrap;}
/*主轴对齐方式*/
.flex-justify-start {justify-content:flex-start;}
.flex-justify-end {justify-content:flex-end;}
.flex-justify-center {justify-content:center;}
.flex-justify-between {justify-content:space-between;}
.flex-justify-around {justify-content:space-around;}
/*侧轴对齐方式*/
.flex-align-start {align-items:flex-start;}
.flex-align-end {align-items:flex-end;}
.flex-align-center {align-items:center;}
.flex-align-baseline {align-items:baseline;}
.flex-align-stretch {align-items:stretch;}
/*主轴换行时行在侧轴的对齐方式，必须定义flex-wrap为换行*/
.flex-content-start {align-content:flex-start;}
.flex-content-end {align-content:flex-end;}
.flex-content-center {align-content:center;}
.flex-content-between {align-content:space-between;}
.flex-content-around {align-content:space-around;}
.flex-content-stretch {align-content:stretch;}
/*允许子元素收缩*/
.flex-child-grow {flex-grow: 1;}/*允许拉伸*/
.flex-child-shrink {flex-shrink: 1;}/*允许收缩*/
.flex-child-noshrink {flex-shrink: 0;}/*不允许收缩*/
.flex-child-average {flex:1;}/*平均分布，兼容旧版必须给宽度*/
.flex-child-first {order: 1;}/*排第一个*/
/*子元素在侧轴的对齐方式*/
.flex-child-align-start {align-self:flex-start;}
.flex-child-align-end {align-self:flex-end;}
.flex-child-align-center {align-self:center;}
.flex-child-align-baseline {align-self:baseline;}
.flex-child-align-stretch {align-self:stretch;}

.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }
.hide { display: none; }
.left { float: left; }
.right { float: right; }
.full-height{height:100%;}
.full-width{width:100%;}
.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }
.clear { clear: both; }
.overflow-hide { overflow: hidden; }
.normal { font-weight: normal; }
.bold { font-weight: bold; }
.font-30 { font-size: 30px; }
.font-24 { font-size: 24px; }
.font-20 { font-size: 20px; }
.font-18 { font-size: 18px; }
.font-16 { font-size: 16px; }
.font-15 { font-size: 15px; }
.font-14 { font-size: 14px; }
.font-13 { font-size: 13px; }
.font-12 { font-size: 12px; }
.border-box{box-sizing: border-box;}
.border-top, .border-right, .border-bottom, .border-left { position: relative; border: 0; }
.border-top:before, .border-bottom:after { content: ""; position: absolute; -webkit-transform: scaleY(.5); transform: scaleY(.5); -webkit-transform-origin: 0 0; transform-origin: 0 0; }
.border-left:before, .border-right:after { content: ""; position: absolute; -webkit-transform: scaleX(.5); transform: scaleX(.5); -webkit-transform-origin: 0 0; transform-origin: 0 0; }
.border-top:before { top: 0; left: 0; right: 0; border-top: 1px solid #D3DCE6; }
.border-bottom:after { bottom: 0; left: 0; right: 0; border-bottom: 1px solid #D3DCE6; }
.border-left:before { top: 0; left: 0; bottom: 0; border-left: 1px solid #D3DCE6; }
.border-right:after { bottom: 0; top: 0; right: 0; border-right: 1px solid #D3DCE6; }
.margin { margin: 10px; }
.margin-top { margin-top: 10px; }
.margin-right { margin-right: 10px; }
.margin-bottom { margin-bottom: 10px; }
.margin-left { margin-left: 10px; }
.padding { padding: 10px; }
.padding-top { padding-top: 10px; }
.padding-right { padding-right: 10px; }
.padding-bottom { padding-bottom: 10px; }
.padding-left { padding-left: 10px; }
.text-center { text-align: center; }
.pointer{cursor: pointer;}
.ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.nowrap { word-wrap: normal; white-space: nowrap; }
.lines-1{text-overflow:ellipsis;-webkit-line-clamp:1;display: -webkit-box;overflow:hidden;-webkit-box-orient: vertical;}
.lines-2{text-overflow:ellipsis;-webkit-line-clamp:2;display: -webkit-box;overflow:hidden;-webkit-box-orient: vertical;}

.light-blue, a.light-blue { color: #58B7FF; }
.light-blue-bg { background-color: #58B7FF; }
.blue, a.blue { color: #20A0FF; }
.blue-bg { background-color: #20A0FF; }
.dark-blue, a.dark-blue { color: #1D8CE0; }
.dark-blue-bg { background-color: #1D8CE0; }
.green, a.green { color: #13CE66; }
.green-bg { background-color: #13CE66; }
.yellow, a.yellow { color: #F7BA2A; }
.yellow-bg { background-color: #F7BA2A; }
.red, a.red { color: #FF4949; }
.red-bg { background-color: #FF4949; }
.black, a.black { color: #1F2D3D; }
.black-bg { background-color: #1F2D3D; }
.light-black, a.light-black { color: #324057; }
.light-black-bg { background-color: #324057; }
.extra-light-black, a.extra-light-black { color: #475669; }
.extra-light-black-bg { background-color: #475669; }
.silver, a.silver { color: #8492A6; }
.silver-bg { background-color: #8492A6; }
.light-silver, a.light-silver { color: #99A9BF; }
.light-silver-bg { background-color: #99A9BF; }
.extra-light-silver, a.extra-light-silver { color: #C0CCDA; }
.extra-light-silver-bg { background-color: #C0CCDA; }
.grey, a.grey { color: #D3DCE6; }
.grey-bg { background-color: #D3DCE6; }
.grey-9, a.grey-9 { color: #999; }
.grey-9-bg { background-color: #999; }
.light-grey, a.light-grey { color: #E5E9F2; }
.light-grey-bg { background-color: #E5E9F2; }
.extra-light-grey, a.extra-light-grey { color: #EFF2F7; }
.extra-light-grey-bg { background-color: #EFF2F7; }
.dark-white, a.dark-white { color: #F9FAFC; }
.dark-white-bg { background-color: #F9FAFC; }
.white, a.white { color: #fff; }
.white-bg { background-color: #fff; }

/* elementUI css 调整 */
.el-tooltip__popper {
  max-width: 90%;
  word-wrap : break-word;
}
.el-tabs__item {
  vertical-align: bottom;
}
.el-tabs__header{
  min-height: 41px;
}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.areaInput input {
  cursor: pointer;
}

.el-table .operation-row {
  background: #e2f0e4;
}